/* Your Website Styles */

figure img {
	width: 100%;
	height: 100%;
}

a img {
	width: 100px;
	height: 100px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.navigation {
	text-decoration: none;
	list-style: none; 
	margin: 30px auto;
}

.navigation  a{
	text-decoration: none;
	margin: 30px auto;
	text-align: center;
	padding: 10px 60px 10px 0px;
	list-style: none; 
}

.navigation a:link,
.navigation a:visited {
  color: white;
  width: 100%;
  line-height: 60px;
  text-transform: uppercase; }

.navigation a:hover,
.navigation a:active {
	text-align: center;
  background: #e74c3c; }

body {
	background: url(../img/bg.jpg);
	background-color: black;
	color: white;
}

hr {
	color: red;
	background-color: red;
	width: 99%;
	height: 2px;
}
p {
	padding: 10px;
}


header {
	background-color: black;
	text-align: center;
	border-radius: 10px;
}

h1 {
	
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
	letter-spacing: 2px;
	margin-bottom: 10px;
	border-radius: 10px 10px 0px 0px;

}

h2 {
	
	font-family: 'Droid Sans', sans-serif;
	padding-bottom: 10px;
}


h3 {
	font-family: 'Droid Sans', sans-serif;
	text-align: left;
	font-size: 2.5em;
	margin-bottom: -10px;
	padding: 10px;

}

article {
	background-color: black;
	border-radius: 10px;

}

section {
	letter-spacing: 1px;
	font-size: 1.25em;
	padding-bottom: 10px;

}


ul {
	list-style: none;
}


a {
	color: #e74c3c;
	text-decoration: none;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}